body
{
    font-size: 1rem;
    /* line-height: 1.3; */
}
nav
{
    font-size: 1rem;
}

li
{
    margin-bottom: 0.3em;
}

.profile_picture
{
    display: flex;
    /* scale: 0.2; */
    width: 310px;
    height: 485px;
    /* width: 250px;
    height: 250px; */
    /* margin-left: auto; */
    margin-right: 30px;
    float: left;
}

.notbold{
    font-weight:normal
}​
